.section__cardapio{
    width: 100%;
    height: 80vh;
    background: #666;
    text-align: center;
}
.cardapio__box--Titulo{
    font-size: 30px;
    color: #fff;
    padding-top: 40px;
    margin-bottom: 10px;
}
.cardapio__box--subtitulo{
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(157, 153, 153);
    margin-bottom: 40px;
}
.cardapio__img{
    width: 100%;
    height: 40vh;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.img__1{
    width: 400px;
    height: 300px;
    margin-top: 20px;
    background: url("img/depositphotos_237186814-stock-photo-portrait-relaxed-smart-casual-man.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
}
.img__2{
    background: url("img/depositphotos_237186814-stock-photo-portrait-relaxed-smart-casual-man.jpg");
    width: 400px;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
}
.img__3{
    background: url("img/depositphotos_237186814-stock-photo-portrait-relaxed-smart-casual-man.jpg");
    width: 400px;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
}

/* Medias Querie
==========================================================*/

@media (max-width: 1024px){
    
    .section__cardapio{
        height: 70vh;
    }
    .img__1{
        width: 300px;
    }
    .img__2{
        width: 300px;
    }
    .img__3{
        width: 300px;
    }
}

@media (max-width: 903px) {
    .section__cardapio{
        width: 100%;
        height: 165vh;
        background: #666;
        text-align: center;
    }
    .cardapio__img{
        display: grid;
    }
    .img__1{
        width: 300px;
    }
    .img__2{
        width: 300px;
    }
    .img__3{
        width: 300px;
    }
}

@media (max-width: 778px) {
    .section__cardapio{
        height: 180vh;
    }
}

@media (max-width: 540px){
    .section__cardapio{
        height: 160vh;
    }
}

@media (max-width: 411px){
    .section__cardapio{
        height: 165vh;
    }
}


@media (max-width: 375px){
    .section__cardapio{
        height: 180vh;
    }
}

@media (max-width: 360px){
    .section__cardapio{
        height: 130vh;
    }
    .img__1{
        width: 250px;
        height: 200px;
    }
    .img__2{
        width: 250px;
        height: 200px;
    }
    .img__3{
        width: 250px;
        height: 200px;
    }
    .cardapio__box--Titulo{
        font-size: 20px;
    }
    .cardapio__box--subtitulo{
        font-size: 11px;
    }
}

@media (max-width: 320px){
    .section__cardapio{
        height: 145vh;
    }
}
